@mixin font( $family: null, $weight: null, $size: null, $color: null) {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 56px;
    color: map-get($map: $colors, $key: basic-blue);

    @if $family != null {
        font-family: $family;
    }
    @if $weight != null {
        font-weight: $weight;
    }
    @if $size != null {
        font-size: $size;
    }
    @if $color != null {
        color: $color;
    }
}

@mixin font-title(){
    color: map-get($map: $colors, $key: basic-blue);
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

@mixin font-subTitle(){
    color: map-get($map: $colors, $key: dark-blue);
    font-family: DM Sans;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}

@mixin font-h1(){
    color: map-get($map: $colors, $key: basic-blue);
    font-size: 82px;
    font-weight: 800;
}

@mixin font-h2(){
    color: map-get($map: $colors, $key: basic-blue);
    font-family: DM Sans;
    font-size: 48px;
    font-weight: 500;
    line-height: 52px;
    text-align: center;
}

@mixin font-h3(){
    color: map-get($map: $colors, $key: dark-blue);
    font-family: DM Sans;
    font-size: 48px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    text-align: center;
}

@mixin font-input(){
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 500;
    color: map-get($map: $colors, $key: dark-gray);
}

@mixin font-button(){
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

@mixin font-info(){
    font-family: Roboto Mono;
    font-size: 15px;
    color: map-get($map: $colors, $key: basic-blue);
    font-weight: 400;
}

@mixin font-placeholder(){
    font-family: DM Sans;
    font-size: 16px;
    color: #a1a1a1;
}

@mixin font-subText(){
    font-family: Roboto Mono;
    color: map-get($map: $colors, $key: basic-gray);
    font-size: 15px;
    font-weight: 400;
}

@mixin font-text(){
    font-family: DM Sans;
    color: map-get($map: $colors, $key: dark-blue);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}









